.App {
  text-align: center;
}

.App-header {
  color: rgb(0, 0, 0);
  font-family: "Rowdies", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

.footer {
  font-family: "Rowdies", cursive;
  font-weight: 400;
  font-style: normal;
  color:black;
  font-size: 50px;
}