body {
  background-image: url(./images/tidydesk.png);
  background-size: cover;
  background-attachment: local ;
  color: rgb(10, 133, 106);
  margin: 10px auto;
  font-family: "Rowdies", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  padding-top: 95px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}