body {
  background-image: url(./images/Whiteboardbackground.png);
  background-size: cover;
  background-attachment: local ;
  color: rgb(38, 0, 255);
  margin: 0px auto;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  padding-top: 95px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}